/* CSS-Only Parallax Effect
https: //1stwebdesigner.com/outstanding-scroll-and-parallax-css-effects/ */

/*! ========================= navbar */
.navBar-main-container{
    position: fixed;
    width: 100%;
    background-color: black;
    padding: 15px;
    opacity: 0.8;
    display: flex;

    color: white;
    align-items: center;
    justify-content: space-between;
}

.navBar-main-select{
    display:flex;
    margin-left: 100px;
}

.instagram{
    height: auto;
    width: 30px;
    margin-right: 100px;
}
/*! ========================= navbar */

.parallax_container{
    z-index: -1;

}


/*! ========================== mobile section */


.title_container{
    /* background-color:#e5e5e5; */
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    transform: translate(0%, 40%);
}



.cake_type{
    /* font-size: 1.5vw;    */
    font-size: 22px;
    color:white;
    margin-left: 20px;

}

.brand-name {
    color: white;
    font-size: 6.9vw;
    font-family: 'Allura', cursive;
}



.about_gurl_container {
    overflow:auto;
    padding-top: 80px;
    padding-bottom: 80px;
    /* margin: auto 2em; */
    
     /* position: absolute; */
     /* transform: translateX(-50%); */

     display:flex;
     align-items: center;
     justify-content: center;

     background-color: rgba(216, 216, 216, 0.267);
    box-shadow: 0 0 25px rgb(26, 25, 25);

       
}


/* * {
    box-sizing: border-box;
} */

.gurl_container {
    float: left;
    width: 28%;
    text-align: center;

    margin-right: 20px;
    
}

/* .menu a {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
} */



.about_gurl_info {
    float: left;
    width: 25%;
    /* padding: 0 20px; */
    /* background-color: yellow; */
    text-align: center;
    /* margin-left: 5%; */
}

.about_gurl_info p {
    /* font-size: 18px; */
    font-size: 1vw;
}
.alice{
    font-family: 'Allura', cursive;
    margin-bottom: 20px;
    /* font-size: 50px; */
    font-size: 4vw;

    border-bottom: 1px solid black;
}


.endSecPic_container{
    display:flex;
    max-height: 500px;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.endSec1 {
    margin-right: 15px;
}

.endSec1,
.endSec2 {
    height: auto;
    width: 180px;
}

.main-gurl-img{
    /* width: auto; */
    /* max-height: 40%; */
    width: 80%;
    /* height: auto;
    object-fit: contain; */
}


/*! QUAD4 IMG SEC START*/
.quadSecPic_container{
    display: flex;
}

.q1{
    object-fit: cover;
    object-position: 100% 0;
    padding: 10px;
    width: 240px;
    height: 260px;

}

.q2 {
    object-fit: cover;
    object-position: 100% 0 ;
    padding: 10px;

    width: 240px;
    height: 260px;

}

.q3{
    object-fit: cover;
    padding: 10px;
    width: 240px;
    height: 260px;

}

.q4 {
    object-fit: cover;
    padding: 10px;
    width: 240px;
    height: 260px;

}

/*! QUAD4 IMG SEC END*/


.copyRight{
    background-color:#e5e5e5;
    text-align:center;
    padding:10px;
    margin-top:7px;
}


.mobile-gurl-name {
    display: none;
    text-align: center;
    font-family: 'Allura', cursive;
}


@media only screen and (max-width:620px) {

    /* For mobile phones: */
    .about,
    .title_container,
    .about_gurl_info,
    .gurl_container
    {
        width: 100%;
    }

    .title_container {
        height: 200px;
    }

    .about_gurl_name{
        display: none;
    }

    .mobile-gurl-name {
        display:block;
        font-size: 20px;
    }
    
    .main-gurl-img{
        width: 100%;
    }

    .brand-name{
        font-size: 58px;
    }

    .cake_type{
        font-size: 15px;
    }

    .about_gurl_container{
        display: block;
    }

    .about_gurl_info p {
        font-size: 17px;
    }
    .quadSecPic_container{
        display: block;
        /* align-items: center; */
    }
    
    .q1,
    .q2,
    .q3,
    .q4{
        height: auto;
        width: 100%;
    }

}
