.request_title{
    display: flex;
    justify-content: center;
    margin-left: 3%;

}

.classic_options{

    text-align: center;
}


.menu_container{
    display: flex;
    justify-content: space-between;
    background-color: orange;
    // width: 840px;
    width: 100%;
    margin-right: 10px;



    .menu_img_sec{
        background-color: pink;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 580px;
        // overflow-wrap: anywhere;
    }



    .menu_form_container{
        display:flex;
        flex-direction:column;
        background-color: turquoise;
        width: 400px;


        .menu_form{
            display: flex;
            flex-direction:column;
        }
    }

}

/*! ===================== mobile */
@media only screen and (max-width:620px) {

    /* For mobile phones: */
    .menu_container{
        display: block;
    }
    
    .menu_form_container{
        margin-bottom: 20px;

    

    }

}